<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Bricks_Catalog>
			<version>0.0.1</version>
		</Bricks_Catalog>
	</modules>

	<global>
		<blocks>
			<bricks_catalog>
				<class>Bricks_Catalog_Block</class>
			</bricks_catalog>
		</blocks>

		<helpers>
			<bricks_catalog>
				<class>Bricks_Catalog_Helper</class>
			</bricks_catalog>
		</helpers>

		<models>
			<bricks_catalog>
				<class>Bricks_Catalog_Model</class>
				<resourceModel>bricks_catalog_resource</resourceModel>
			</bricks_catalog>

			<bricks_catalog_resource>
				<class>Bricks_Catalog_Model_Resource</class>
				<entities>
					<features>
						<table>bricks_product_features</table>
					</features>
				</entities>
			</bricks_catalog_resource>
		</models>

		<resources>
			<bricks_catalog_setup>
				<setup>
					<module>Bricks_Catalog</module>
					<class>Bricks_Catalog_Model_Resource_Setup</class>
				</setup>
			</bricks_catalog_setup>
		</resources>

		<events>
			<catalog_product_save_after>
				<observers>
					<bricks_catalog>
						<type>singleton</type>
						<class>Bricks_Catalog_Model_Observer</class>
						<method>saveProductFeatures</method>
					</bricks_catalog>
				</observers>
			</catalog_product_save_after>

			<controller_action_layout_generate_blocks_before>
				<observers>
					<bricks_catalog>
						<type>singleton</type>
						<class>Bricks_Catalog_Model_Observer</class>
						<method>beforeRenderProductView</method>
					</bricks_catalog>
				</observers>
			</controller_action_layout_generate_blocks_before>
		</events>
	</global>

	<adminhtml>
		<layout>
			<updates>
				<bricks_catalog>
					<file>bricks/catalog.xml</file>
				</bricks_catalog>
			</updates>
		</layout>
	</adminhtml>

	<frontend>
		<layout>
			<updates>
				<bricks_catalog>
					<file>bricks/catalog.xml</file>
				</bricks_catalog>
			</updates>
		</layout>
	</frontend>
</config>